.cancel-margin {
    margin: 0;
}

.add-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.asterisk {
    color: red;
}

#pet-container, #form-container, .home-button {
    margin: 15px;
}

.hidden {
    display: none;
}